@charset "UTF-8";

body {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.8;
  font-size: 15px;
  background-color: #D9F1D6;
}
.site_title {
  color: #4C4C4C;
  font-size: 24px;
}
.page_title {
  font-size: 20px;
  background-color: #339933;
  color: white;
}
.section_title {
  font-size: 20px;
  color: #393;
  border-left: groove 18px #393;
  border-bottom: solid 1px #393;
}
p {
  margin: 0;
  padding:0;
}
.honbun {
  margin-left: 1em;
  margin-right: 1em;
}
.news, .information {
  padding-left: 0.5em;
}
.news {
  list-style-type: square;
}
.information {
  list-style-type: circle;
}
.footer_info {
  border-top: 1px solid #393;
  text-align: center;
  font-size: 16px;
}
.toiawase {
  font-style: normal;
}
.copyright {
  color: #666;
}
.logo {
	width: 40px;
	height: 40px;
	vertical-align: -10px;
}
.site_title_sub {
	font-size: 14px;
}
.list_header {
  font-weight: bold;
  color: #28722C;
}
.rekishi {
  width: 90%;
  margin: 10px auto;
	border-collapse: collapse;
}
.rekishi tr {
	border-bottom:1px solid #999;
}
.rekishi td {
	padding-left: 10px;
}
.main_nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.main_nav li {
  margin:0;
  padding: 2px 15px;
  float: left;
  border-right: 1px solid #666;
}
.main_nav li:first-child  {
	border-left: 1px solid #666;
}
.cf {
  overflow:hidden;
}
#container {
  width: 970px;
  margin: 20px auto;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 20px 0 #999;
  box-shadow: 3px 3px 20px 0 #999;
  background-color: white;
}
.topic {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  margin:0;
  padding: 15px 1em 10px;
  vertical-align: top;
}
.topic_img {
  width: 50%;
  float: left;
  margin-right: 1em;
}
.topic_img img {
  max-width: 100%;
  height: auto;
}
.topic_title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #282;
}
.topic_honbun {
  font-size: 14px;
}
.topic_top_border {
  border-top: 1px dashed #666;
}
hr {
  margin: 15px 1em;
  border: none;
  border-top: 1px solid #393;
}
.questions {
  width: 530px;
  margin: 0 auto 15px;
  padding: 5px 10px;
  background-color: #C0E7BB;
}
.cb_area {
  width: 365px;
}
.goiken {
  width: 95%;
  display:block;
}
